{% extends 'base.html' %}

{% block title %}
Информация о направлении, его особенностях
{% endblock %}

{% block body %}
<main class="py-8">
    <div class="container mx-auto flex justify-center">
        <div class="w-full md:w-2/3 lg:w-1/2 flex flex-wrap justify-center">
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <img src="/static/images/flutter.png" alt="Image" class="w-full h-48 object-cover">
                    <div class="p-4">
                        <h2 class="text-lg font-bold mb-2">Заголовок 1</h2>
                        <a href="#" class="bg-gray-900 text-white py-2 px-4 rounded-lg hover:bg-gray-800">Кнопка</a>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <img src="/static/images/vue.webp" alt="Image" class="w-full h-48 object-cover">
                    <div class="p-4">
                        <h2 class="text-lg font-bold mb-2">Заголовок 2</h2>
                        <a href="#" class="bg-gray-900 text-white py-2 px-4 rounded-lg hover:bg-gray-800">Кнопка</a>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <div class="bg-white rounded-lg shadow-lg overflow-hidden">
                    <img src="/static/images/python.jpeg" alt="Image" class="w-full h-48 object-cover">
                    <div class="p-4">
                        <h2 class="text-lg font-bold mb-2">Заголовок 3</h2>
                        <a href="#" class="bg-gray-900 text-white py-2 px-4 rounded-lg hover:bg-gray-800">Кнопка</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}